{% extends "::base.html.twig" %}
{% form_theme formMultimedia 'ProyectoSecurityBundle:Forms:fields.html.twig' %}
{% form_theme form 'ProyectoSecurityBundle:Forms:fields.html.twig' %}
{% block title %}Editar Actividad {% endblock %}
{% block body %}
<a href="{{ path('alta_actividad') }}" title="Volver a Actividades" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Volver a Actividades</a>
<hr class="divider"/>  <br/>
<hr class="divider"/>   
    <div class="row">         
        <div class="col-md-12">
            <form action="{{ path('actualizar_actividad', {'idActividad' : idActividad })}}" method="post" {{ form_enctype(form) }} class="" role="form">
                {{ form_widget(form) }}
                <div class="text-center">
                    <button id="aniadir" type="submit" class="btn btn-primary"> Modificar</button>
                </div>
            </form>
        </div> 
    </div>
<div class="row" style="margin-top: 10px;">
    <div id="lista-multimedia" class="col-md-6" style="max-height: 380px; overflow-y: scroll;">
        <table class="table table-striped">
        {% for concept in listaMultimedia %}
            <tr>
                <td class="col-md-6">{{ concept.archivo }}</td>
                <td class="col-md-5">{{ concept.tipo | upper}}</td>
                <td class="col-md-1"><a href="{# path('eliminar_concepto', { 'idConcepto' : concept.id}) #}" title="Eliminar" class="eliminar btn btn-small"><i class="icon-remove"></i></a></td>
            </tr>
        {% else %}
            <tr>
                <td class="col-md-12">No hay ningún elemento asociado a esta actividad</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div id="formMultimedia" class="col-md-6 well-small">
        <form action="" method="post" {{ form_enctype(formMultimedia) }} role="form" >
            {{ form_widget(formMultimedia) }}
            <div class="text-center">
                <button id="aniadirMultimedia" type="submit" class="btn btn-primary"> Añadir</button>
            </div>
        </form>
    </div>
</div>
    
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    
</script>
{% endblock %}
